main {
  text-align: center;
}

#player {
  display: inline-block;
  max-width: 576px;
  height: 730px;
  text-align: center;
padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
padding-bottom: 20px;
  background-color: #757d4aff;
}

img {
  width: 520px;
  height: 600px;
}

div {
  text-align: left;
}

#musicaBanda {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 15px;
  position: absolute;
  top: 52.5%;
  color: #e0e3d3ff;
  font-size: 28px;
  line-height: 1;
  text-shadow: 2px 2px 4px black;
  margin-left: 15px;
}

#tempoMusica {
  padding-left: 15px;
  padding-top: 0px;
  font-size: 18px;
  color: #e0e3d3ff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#barraProgresso {
  width: 520px;
  padding-left: 0px;
  background-color: darkred;
  height: 6px;
  margin: 15px;
}

#progress {
  width: 110px;
  height: 6px;
  padding-left: 0px;
  background-color: olivedrab;
}

#iconesControle {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
}

span.material-symbols-outlined {
  display: block;
  color: whitesmoke;
  font-size: 40px;
  text-align: center;
}

